/* ./styles/styles.css */

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 0;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.15);
}

h1 { color: #000; }

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2 );
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

nav {
    background-color: transparent;
    padding: 10px 5px;
}

nav a {
    color: #0c0c5c;
    padding: 5px;
    display: block;
}



p { 
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
